/* App.css */

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
    font-family: "Roboto Mono", monospace;
    color: #000;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f3f7; /* same as .app background-color */

    height: 100vh;
    width: 100vw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", monospace;
    color: #000;
}

.app {
    width: 1fr;
    background-color: #f3f3f7;
    min-width: 20rem;
    padding: 0px;
}

.story-page,
.pairwise-game,
.landing-page {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    position: relative;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 2em 1.5em;
    border: none;
    box-sizing: border-box;
}

h1 {
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: 0.05em;
}

h2 {
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: 0.03em;
}

h3 {
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 0.02em;
    margin: 0.2em;
}

h4 {
    font-size: 0.9rem;
    font-weight: bold;
    letter-spacing: 0.02em;
    margin: 0.2em;
}

a {
    color: #9cd8ec;
}

/* Media Queries */

/* For devices smaller than 600px */
@media only screen and (max-width: 37.5rem) {
    .app {
        padding: 1em;
        width: 100vw;
        max-width: none;
        min-width: 0;
    }

    .story-page,
    .pairwise-game,
    .landing-page {
        padding: 0em;
        width: 100%;
        max-width: none;
        min-width: 0;
    }

    .pairwise-game {
        display: flex;
        align-items: center;
    }


    /* .pairwise-game .technology-card {
        max-width: 130px;
        min-height: 60px;
        max-height: 120px;
        border-radius: 12px;
    } */

    .pairwise-game .technology-card h3 {
        font-size: 14px;
    }

    .pairwise-game h2 {
        font-size: 18px;
    }


    .pairwise-game .image-wrapper img {
        width: 100%;
        height: 100%;
    }

    .progress-bar {
        margin-top:5%;
        width: 90%;
    }
}

/* For devices larger than 900px */
@media only screen and (min-width: 56.25rem) {
    .app {
        width: 100vw;
        padding: 0em;
    }

    .story-page,
    .pairwise-game,
    .landing-page {
        padding: 2em 1.5em;
    }
}
