/* dialogue.css */
.dialogue {
    border-radius: 1.2em;
    padding: 0.7em;
    margin: 0.8em;
    max-width: 100%;
    font-size: 1.3em;
}

.dialogue.guide {
    align-self: flex-start;
    background-color: #f1f1f1;
    color: #000; /* Set consistent text color */
    max-width: 70%;
    font-size: 1.3em;
    padding: 20px;
}

.dialogue.choice {
    align-self: flex-end;
    background-color: #3F51B5; /* Updated color choice */
    color: white;
    padding: 20px;
    text-align: left;
    max-width: 40%;
    font-size: 1.3em;
}
.pre-dialogue {
    border-radius: 1.2em;
    padding: 0.7em;
    margin: 0.8em;
    max-width: 100%;
    font-size: 1.3em;
    align-self: flex-start;
    background-color: #f1f1f1;
    color: #000; /* Set consistent text color */
    max-width: 70%;
}

@media screen and (min-width: 768px) {
    .dialogue {
        max-width: 80%;
    }
}

@media screen and (max-width: 481px) {
    .dialogue.guide {
        max-width: 90%;
    }

    .dialogue.guide, .dialogue.choice {
        font-size: 1.1em;
    }
}
