

.landing-page {
    text-align: center;
    background: linear-gradient(to left, #6D4DFF 0%, #9780FF 100%);

  }

  .speech-bubble {
    position: relative;
    background: #f5f5f5;
    border-radius: .4em;
    padding: 1em;
    margin-top: 1em;
    max-width: 80%;
    /* width:300px; */
    display:flex;
    flex-direction:column;
    align-items:center;
    color:black;
  }

  .speech-bubble:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: #f5f5f5;
    border-bottom: 0;
    margin-left: -20px;
    margin-bottom: -20px;
  }

  .bottom {
    width: 90%;
    padding: 1em;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    background-color: #fff;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Change from center to flex-start */
  }
  
  .sliderArea{
    width: 100%;
    height: 30vh;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .landing-page h1 {
    font-size: 2rem;
    /* font-weight: bold; */
    font-style: italic;
    letter-spacing: 0.05em;
  }

 
  .landing-page h2 {
    font-size: 1rem;
    /* font-weight: bold; */
    color: black;
    letter-spacing: 0.05em;
  }
  
  .landing-page p {
    font-size: 2rem;
    letter-spacing: 0.01em;
  }
  .logo-image {
    width: 20em; /* Adjust the width to your desired size */
    height: auto; /* Automatically adjust the height while maintaining the aspect ratio */
  }

  .landing-page-button {
    font-family: 'Roboto Mono', monospace;

    font-size: x-large; /* Increase the font size to make the text larger */
    margin: 1em;
    padding: .7em; /* Increase the padding to make the button bigger */
    background-color: #6CB574;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(108, 181, 116, 0.4);
    transition: background-color 0.3s ease-in-out;
  }
  
  .landing-page-button:hover {
    background-color: #54935C;
  }