.pairwise-game {
    max-width: 100%;
    width: 100%;
    height: 80vh;
    background: linear-gradient(to left, #6D4DFF 0%, #9780FF 100%);
    position: relative;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1.5em;
    margin: 0 auto;
    border: none; /* Remove the border property */
  }
  
  h2 {
    color: white;
    padding: 1em;
  }
  
  .bottomHalf {
    position: absolute;
    top: 20vh;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    padding: 1em;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Change from center to flex-start */
}
  
  .scoreLines {
    width: 100%;
  }
  
  .progress-bar {
    width: 100%;
    height: 1em;
    background-color: #f5f5f5;
    border-radius: 10px;
    margin-bottom: 5%;
  }
  
  .progress-bar-inner {
    height: 100%;
    background-color: #6C4CFF;
    border-radius: 10px;
    transition: width 0.5s ease;
  }
  
  .technology-pair {
    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
    margin-top: 1em;
  
  }
  
  .descriptors {
    position: absolute;
    top: 100%;
    width: 90%;
    max-width: 600px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    border-radius: 4px;

    z-index: 1;
  }
  

  
  
  button {
    border-radius: 2em;
    border:none;
    padding: 0.5em 1em; /* vertical padding (top and bottom) and horizontal padding (left and right) */
    background-color: rgba(119, 88, 255, 0.12);
    color: rgba(119, 88, 255, 1); 
    font-weight: bold; 
    font-size: 1em;
}
  
  .descriptors button:hover {
    background: black;
    color: white;
  }
  
  
  .selected {
    background-color: #ccc;
  }
  
  .next-button {
    margin-top: 10px;
  }
  
  .descriptor-button-container {
    position: relative;
    transition: transform 0.5s ease;
   
  }
  
  .selected-card-descriptors {
    display: flex;
    justify-content: space-between;
  }
  
  .bad-descriptors,
  .good-descriptors {
    display: flex;
    flex-direction: column;
  }
  
  .agreement-question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    width: 90%;
    padding: 1em;
    background-color: #f5f5f5;
    border-radius: 10px;
  }
  
  .agreement-question p {
    margin-bottom: 1em;
    font-size: 1.2em;
    text-align: center;
    font-family: "Montserrat";
  }
  
  .agreement-question .button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
    padding-top: .5em;
  }
  
  .agreement-question button {
    border-radius: 2em;
    border:none;
    padding: 0.5em 1em; /* vertical padding (top and bottom) and horizontal padding (left and right) */
    background-color: rgba(119, 88, 255, 0.12);
    color: rgba(119, 88, 255, 1); 
    font-weight: bold; 
    font-size: 1em;
    cursor: pointer;
    transition: 0.5s ease;
  }
  .agreement-question h3 {
   color: black;
  }

  .agreement-question .correct {
    color: #26925F;
}

.agreement-question .incorrect {
    color: red;
}
  
  .agreement-question button:hover,
  .agreement-question button:focus {
    background: #2ee59d;
    color: white;
    transform: translateY(-5px);
  }
  