/* Rankings.css */

.rankings {
   width: 100%;
   height: 100%;
   text-align: center;
   display: flex;
    flex-direction: column;

   
  }
  .rankings-header{
    width: 90%;
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    color: white;
    margin: 0 auto;
    padding-top: .5rem;
    padding-bottom: 1.5rem;

  }
  .middle-rankings{
    display: "flex";
    width: 90%;
    margin: 0 auto;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    background-color: #EFEEFC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
 
  }
  .bottom-rankings {
    border: none;
    display: "flex";
    width: 90%;
    margin: 0 auto;
   
    background-color: #EFEEFC;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    margin-top: -.1em;

  
  }

  .middle-rankings-columns{
    display: flex;
    flex-direction: column;
    margin: 0 4vw;
    width: 50%;
    margin-top: 1em;
  }
  .rankings-columns{
    height: 80%;

    display: flex;
    flex-direction: column;
    margin: 0 4vw;
  }
  
  .rankings h2{
  
      color: black;
   

  }
  .bottom-rankings > div {
    margin-top: 1em;
    width:50%;  /* Adjust to fit your needs */
  }


  .card-ranking {
    border-radius: 2em;
    margin: .1em.5em;
    padding: .2em;
    height: 10vh;
    background-color: white;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .card-text{
    font-size: calc(.6rem + .7vw);

  }

  .rankings-selection{
    width: 80%;
    margin-bottom: 0em;
    font-family: "Montserrat";
    border-radius: 1em;
    margin: .2em 4vw;
    font-size: calc(.6rem + .7vw);

  }


  .top-rankings{
    display: flex;
  }
  
  .top-rankings-columns{
    width: 50%;
    margin-top: 1em;
  }
  .middle-rankings-single-column{
    display: flex;
  }

  .my-modal {
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    marginRight: -50%;
    transform: translate(-50%, -50%);
}

.my-modal-overlay {
    backgroundColor: rgba(0, 0, 0, 0.5);
}

.modal-title {
  color: black;
  font-size: calc(.7rem + 1vw);
  margin: 0em 2em 0em 1em;
  padding: 0;

    /* Your styles for the title */
}

.modal-text {
  font-size: calc(.7rem + .9vw);
  margin: 1em 1em;

}

.modal-close-btn {
  position: absolute;
  top: .2em;
  right: .2em;
  margin: 0 auto;
  display: flex;
  border-radius: 10em;
    /* Your styles for the close button */
}


.card-ranking.flipped {
  transition: transform 0.6s;
  transform: rotateY(180deg);
}


.card-ranking.flipped .card-text {
  transition: transform 0.6s;
  transform: rotateY(180deg);
}


