


.results-page{
  display: flex;
  flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    align-items: center;
    text-align: center;
    background: linear-gradient(to left, #6D4DFF 0%, #9780FF 100%);

  
}

@media screen and (min-width: 768px) {
  .results-page {
      width: 80%;
  }
}
.results-header {
    display: flex;
    justify-content: space-between;
    padding: 1em 1em;  /* Add some padding on the sides */
    display: flex;
   
    
  }
  
  .results-header-button {
    background-color:#EFEEFC;
    color: black;  /* Making text color white for contrast */
    border-radius: 2em;
    border: none;
    padding: 0.5em 1em;
    margin: 0 5vw;
    font-weight: bold;
    font-size: calc(.8rem + .7vw);
  }
  
  .results-header-button:hover {
    background-color: darkgray; /* Optional, for a hover effect */
  }

  .restart-game {
    position: absolute;
    bottom: 1em;
    margin: 0 auto;
    display: flex;
  }