.score-bar {
    position: absolute;  /* Changed from absolute to relative to contain .score-change */
    width: 60%;
    bottom: 1em;
    border-radius: 2em;
    background-color: #7758FF;
    color: #fff;
    text-align: center;
    padding: 10px;
    /* box-shadow: 0 0 10px #3f51b5; */
    font-family: "Montserrat";
}

.score-change {
    position: absolute;
    right: 10px; /* Adjust as needed */
    top: 50%;
    transform: translateY(-50%); /* Centers vertically */
    color: #00ff00; /* Or any other color you prefer */
    font-size: 0.8em; /* Adjust as needed */
}

span{
    font-size: calc(.5rem + 1vw);

}