.technology-card {
    border: 1px solid #8f8e8e;
    min-height: 15vh;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    border: none;
    border-radius: 1em;
    /* box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); */
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    z-index: 2;
    display: flex;
    /* margin-top: 25px; */
    background-color:   #cce5cf
    ;
    margin: 1em;
    
    
}

.percentage-display {
    position: absolute;
    top: -2.5em; /* adjust as needed */
    align-content: center;
    justify-content: center ;
    margin: .5em;
    left: 33%;
    /* Other styles as per your needs */
  }


.checked-div {
    position: absolute;
    top: .5em;
    right: .5em;
    background-color: white;
    padding: 5px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    /* Add these lines: */
    width: 20px;
    height: 20px;
    border: 1px solid black; /* temporary, to make the div visible */
  }
  
  
  .checked-div .fas {
    color: green; /* adjust as needed */
  }





.left-column,
.right-column {
    position: absolute; /* positions the columns outside of the card */
    width: 5em; /* set the width of the small columns */
    height: 100%; /* set the column height to be 100% of the card */
    bottom: 0; /* aligns the columns to the bottom of the card */
    background-color: rgba(221, 221, 221, 0.89);
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    transition: height 0.5s ease-out;  /* Add transition */

}

.left-column {
    left: -30px; /* positions the left column to the left of the card */
}

.right-column {
    right: -30px; /* positions the right column to the right of the card */
}
.bar.selected {
    background: linear-gradient(to top left, #26925F, #30BB7A);
    width: 100%;
    z-index: -1;
    left: 0;
}

.bar.unselected {
    background: linear-gradient(to top left, #26925F, #30BB7A);
    width: 100%;
    z-index: -1;
    left: 0;
} 

.bar-chart {
    width: 100%;
    height: 100%;
} 

.bar {
    width: 20px;
    height: 40px;
    position: absolute;
    bottom: 0; 
    transition: height 0.5s ease-out;  /* Add transition */
    border-radius: 1em;
} 


.main-column {
    width: 100%;
    z-index: 1;
    padding: .5em;
}

.percentage-div {
    width: 100%;
}

@keyframes grow {
    0% {
        height: 0;
    }
    100% {
        height: 100%;
    }
}
